@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #E53E3E;
  --primary-foreground: #ffffff;
  --secondary: #000000;
  --secondary-foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }
}

/* Transfer Animation Styles */
.product-animation-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.product-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: moveProduct 3s ease-in-out forwards;
  color: #E53E3E;
  /* Primary color */
}

@keyframes moveProduct {
  0% {
    left: 0;
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
  }

  15% {
    opacity: 1;
    transform: translateY(-50%) scale(1) translateY(-3px);
  }

  25% {
    transform: translateY(-50%) scale(1) translateY(2px);
  }

  35% {
    transform: translateY(-50%) scale(1) translateY(-2px);
  }

  45% {
    transform: translateY(-50%) scale(1) translateY(1px);
  }

  90% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
  }

  100% {
    left: calc(100% - 16px);
    opacity: 0;
    transform: translateY(-50%) scale(0.5);
  }
}

.progress-bar-animation {
  width: 0;
  animation: progressAnimation 3s ease-in-out forwards;
}

@keyframes progressAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

input,
select,
textarea {
  color: #000000 !important;
}

/* Add this to the end of your globals.css file */
::placeholder {
  color: #4b5563 !important;
  /* Darker gray color for placeholders */
  opacity: 1;
}